@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #fcfafa;
  --heading: #454343;
  --body: #807d7d;
}

@theme inline {
  --color-background: var(--background);
  --color-body: var(--body);
  --color-heading: var(--heading);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", monospace;
}

body {
  background: var(--background);
  color: var(--body);
}
